<h2>Todo List :</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Is done</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos$ | async" [ngClass]="{ 'todo-done' : todo.isDone }">
            <td>{{todo.name}}</td>
            <td>
                <input type="checkbox" [(ngModel)]="todo.isDone" (ngModelChange)="updateTodo(todo)">
            </td>
            <td>{{todo.creationTime | date}}</td>
            <td>
                <a [style.visibility]="!todo.isDone ? 'visible' : 'hidden'" class="btn btn-primary"
                    [routerLink]="['/UpdateTodo', todo.id]">Update</a>
                <button [style.visibility]="todo.isDone ? 'visible' : 'hidden'" type="button" class="btn btn-secondary"
                    (click)="removeTodo(todo)">Remove</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <a class="btn btn-primary" routerLink="/AddTodo" placement='right'
                    [ngbTooltip]="'Create a todo'">Add</a>
            </td>
        </tr>
    </tfoot>
</table>
