<form *ngIf="todo" (ngSubmit)="saveTodo()">
    <div class="container">
        <div style="display: flex; flex-direction: column;">
            <div style="flex-direction: column;">
                <label>Todo name :</label>
                <input placeholder="Todo name.." type="text" class="form-control" [(ngModel)]="todo.name" name="name">
            </div>
            <div style="flex-direction: column; display:flex;" class="pt-2">
                <label>Date :</label>
                <div style="flex-direction: row; display:flex;align-items: center;">
                    <input id="date" class="form-control" placeholder="Date.." name="Date" [(ngModel)]="todo.creationTime"
                        ngbDatepicker #d="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                    </button>                    
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Save</button>
    </div>

</form>
