<div>
    <input #input>
    <button type="button" (click)="emitValue(input.value)">Emettre valeur</button>

    <div>
        <span>Last message sent : {{(observable$ | async)}}</span>
    </div>
</div>
