<div class="container">
    <div class="box-color" [style.background-color]="backgroundColor"></div>    
    <div>
        R <input [(ngModel)]="r" type="range" min="0" max="255" class="slider" (ngModelChange)="updateColor()">
        <input type="number" min="0" max="255" [(ngModel)]="r" (ngModelChange)="updateColor()"><br />

        G <input [(ngModel)]="g" type="range" min="0" max="255" class="slider" (ngModelChange)="updateColor()">
        <input type="number" min="0" max="255" [(ngModel)]="g" (ngModelChange)="updateColor()"><br />

        B <input [(ngModel)]="b" type="range" min="0" max="255" class="slider" (ngModelChange)="updateColor()">
        <input type="number" min="0" max="255" [(ngModel)]="b" (ngModelChange)="updateColor()"><br />
        
        A <input [(ngModel)]="a" type="range" min="0" max="1" step=".05" class="slider" (ngModelChange)="updateColor()">
        <input type="number" min="0" max="1" [(ngModel)]="a" step=".05" (ngModelChange)="updateColor()">    
    </div>
</div>
