<!-- <header class="navbar">
  <app-menu></app-menu>
  <ng-container *ngIf="weather">
    <p>{{ weather.main?.temp }}°C</p>
    <p>{{ weather.main?.humidity }}%</p>
  </ng-container>
</header> -->
<div class="container">
  <router-outlet></router-outlet>
</div>
